<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="ServerIp" value="192.168.0.6"/>
    <add key="ImageExt" value="jpg,png,bmp,gif,tif"/>
    <add key="ThumbWidth" value="240"/>
    <add key="ThumbHeight" value="240"/>
		<add key="FCKeditor:BasePath" value="~/ElseControls/fckeditor/"/>
		<add key="FCKeditor:UserFilesPath" value="/Upfiles/FCKeditor/"/>
    <add key="InstallDate" value="smEJdYG9RVMh+uIVCCQxrABxrxmat2EK"/>
    <add key="Authorize" value="cs+z2WfgizxGfecbWLLt40jOtUaRj04Bk3jAqQLox1TP3b61yYoSn5TloRUw70tFAWkkZd61hl1alRquHZo8T7bDp3bdpOEi32015JQY7xTcQKT3b7BsW6/r5XCmCk0fQAxpMHelEwLPRGZSyGeNp9l3Oycs7J4dLg157bGVH5E="/>
    <add key="AuthorizeMode" value="domainname"/>
    <add key="ExceptionMode" value="Local"/>

    <add key="ClientUser" value="+DUr4XPaLv3F6RC2QhxZB/P0vlmVUfmDNMk8XNjdOLY=" />
    <add key="OperationList" value="" />
    <add key="ClientServer" value="" />
    <add key="LogPath" value="C:\Log\"/>
    <!-- 左侧栏使用的图标-->
    <add key="Icon" value="I1.jpg|I2.jpg"/>
    <!--Center1使用的除图片外的其他图标，文件夹，max文件，psd文件-->
    <add key="Center1Icon" value="folder|\\Img\\2.png,max|\\Img\\2.gif,psd|\\Img\\3.jpg,image|\\Img\\4.jpg"/>
    <!-- FileStrip图片大小，不超过256*256-->
    <add key="FilmStripSize" value="96,96"/>
    <!--图像获取线程的数量-->
    <add key="BlockingCollectionTakeThreadNum" value="5"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
